aws_region = "ap-southeast-2"

vpc_name = "youtube-eks-vpc"
vpc_cidr = "10.0.0.0/16"

availability_zones = ["ap-southeast-2a", "ap-southeast-2b"]

private_subnets = ["10.0.1.0/24", "10.0.2.0/24"]
public_subnets  = ["10.0.101.0/24", "10.0.102.0/24"]

cluster_name    = "youtube-eks-cluster"
cluster_version = "1.29"

allowed_cluster_access_cidr = "your-public-ip/32"

node_group_name     = "youtube-node-group"
node_instance_types = ["t3.medium"]
node_min_size       = 1
node_max_size       = 2
node_desired_size   = 1
